:root{
    --color-dark: #15181f;
    --color-dark-x: #2d343f;
    --color-dark-xx: #1f232b;
    --color-light: #ffffff;
    --color-gray: #f5f6f8;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    background-color: var(--color-gray);
    color: var(--color-light);
    letter-spacing: .05rem;
    background: rgb(131,58,180);
    background: linear-gradient(214deg, rgba(131,58,180,1) 15%, rgba(29,245,253,1) 48%, rgba(131,58,180,1) 85%);
    
}
.bg-dark{
    background-color: var(--color-dark)!important;
    border-radius: .25rem;
}
.p-6{
    padding: 5rem;
}
.contact-box{
    padding: 3rem;
}
.form-control{
    background-color: var(--color-dark-xx);
    border: 2px solid var(--color-dark-xx);
    border-radius: .2rem;
    padding: 1.5rem 1rem;
}
select{
    text-indent: 5px;
    padding: 1.5rem !important;
    height: 5rem !important;
}
.img-jmbo{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('img/escom.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 20vh;
}  
.user-img{
    margin-top: -135px;
    margin-bottom: 35px;
} 
.user-img img{
    width: 150px;
    height: 125px;
}
@media (max-width: 575.98px) {
    .p-6{
        padding: 2rem;
    }
    .contact-box{
        padding: 0;
    }
    .width-100{
        width: 100%;
    }
    .user-img{
        margin-top: -55px;
        margin-bottom: 30px;
    }
    .user-img img{
        width: 115px;
        height: 90px;
    }
}